@model CapaEntidad.Usuario
@{
    ViewData["Title"] = "Usuarios";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="bi bi-people-fill fa-lg me-1"></i>Lista de usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-success" onclick="AbrirModal(null)">Crear usuario</button>
            </div>
        </div>
        <hr />
        <table id="tablaUsuarios" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#F5F5F5">
                <h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">

                <input id="txtid" type="number" value="0" />

                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtnombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtapellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtapellido">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtemail" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtemail">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select form-select mb-3">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>




@section scripts
    {
    <script>

        let tablaData;
        let filaSeleccionanda;

        tablaData = $("#tablaUsuarios").DataTable({
            responsive: true,
            ordering: false,
            ajax: {
                url: '@Url.Action("ObteniendoUsuarios","Usuario")',
                type: "GET",
                dataType: "json",
                dataSrc: ""
            },
            columns:
                [
                    { data: 'nombre' },
                    { data: 'apellido' },
                    { data: 'correo' },
                    {
                        data: 'activo', 'render': function(valor) {
                            if (valor) {
                                return '<span class="badge rounded-pill text-bg-success ms-3">△</span>'
                            } else {
                                return '<span class="badge rounded-pill text-bg-danger ms-3">▽</span>'
                            }
                        },
                        width: '48px'
                    },
                    {
                        defaultContent: '<button type="submit" class="btn btn-editar btn-outline-primary ms-2 mt-1 btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg></button>' +
                            '<button type="submit" class="btn btn-eliminar btn-outline-danger ms-2 mt-1 btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16"><path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/><path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/></svg></i</button>',
                        orderable: false,
                        searchable: false,
                        width: '80px'
                    }
                ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json'
            }
        })

        //se muestra el modal al dar clic en crear usuario
        function AbrirModal(json) {

            //ya con la informacion obtenida, procedemos concatenarla con cada uno de los campos del modal
            //con este if le decimos que si no es para crear un nuevo usuario, entonces que mapee los datos del json con los campos correspondientes en el modal
            if (json != null) {

                $("#txtid").val(json.idUsuario),
                    $("#txtnombre").val(json.nombre),
                    $("#txtapellido").val(json.apellido),
                    $("#txtemail").val(json.correo),
                    $("#cboactivo").val(json.activo == true ? 1 : 0)
            } else {
                //y que en caso de que sea para crear un nuevo usuario, pues que limpie los campos
                $("#txtid").val(0),
                    $("#txtnombre").val(""),
                    $("#txtapellido").val(""),
                    $("#txtemail").val(""),
                    $("#cboactivo").val("")
            }

            $("#FormModal").modal("show");
        }
        //se muestra el modal al dar clic al icono de editar
        $("#tablaUsuarios tbody").on("click", '.btn-editar', function() {

            filaSeleccionanda = $(this).closest("tr"); //obtenemos la fila en donde ha sido presionado el boton
            let dataFilaSeleccionada = tablaData.row(filaSeleccionanda).data()//optenemos la informacion que trae la fila que ha sido seleccionada

            AbrirModal(dataFilaSeleccionada) // pasamos la informacion a abrirModal

            console.log(dataFilaSeleccionada)
        })


        function Guardar() {

            var Usuario = {

                    IdUsuario: $("#txtid").val(),
                    Activo: $("#cboactivo").val() == 1 ? true : false,
                    Apellido: $("#txtapellido").val(),
                    Correo: $("#txtemail").val(),
                    Nombre: $("#txtnombre").val(),


            }

            jQuery.ajax({
                data: { objeto: Usuario },
                url: '@Url.Action("GuardarUsuario","Usuario")',
                type: "POST",
                dataType: "json",
                success: function (data1) {

                    debugger;

                    if (Usuario.IdUsuario == 0) {

                        if (data1.resultado != 0) {

                            Usuario.IdUsuario = data1.resultado;
                            tablaData.row.add(Usuario).draw(false);

                            ("#FormModal").modal("hide");
                        }
                        else {

                            alert(data1.mensaje)
                        }
                    }
                    else {

                        tablaData.row(filaSeleccionanda).data(Usuario).draw(false);
                    }
                },
                error: function(error) {
                    console.log(error)
                },
                beforeSend: function() {
                }
            })
        }
    </script>
    @*<partial name="_ValidationScriptsPartial" />*@
    }
